# Laravel specific ignored files
/vendor
/node_modules
/.env
/storage/*.key
/public/hot
/public/storage
/storage/dbdata/

# Composer
/composer.lock

# Vite
/public/build

# dotenv
.env
.env.backup
.env.dusk.local
.env.dusk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
.directory

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN

# PHPStorm
.idea/

# VS Code
.vscode/

# Scribe
.scribe/
!public/docs

# PHPUnit
.phpunit.result.cache

# Logs
*.log
!storage/*.log
backups/
// storage/redis/
// storage/redis/
// storage/redis/
storage/redis/
